<td>
    <a data-dropdown="drop{{id}}"><i class="fa fa-cogs"></i></a>
    <ul id="drop{{id}}" data-dropdown-content class="f-dropdown" aria-hidden="true">
        <li><a>Delete response</a></li>
        <li><a>View response</a></li>
    </ul>
</td>
<td>{{email}}</td>
<td>{{first_name}}</td>
<td>{{last_name}}</td>
<td>{{street_address}}</td>
<td>{{city}}</td>
<td>{{state}}</td>
<td>{{zip_code}}</td>