<td><span id="edit-button" class="round secondary label">Manage</span></td>
<td><span class="round {{badgeClass}} label">{{survey_status}}</span></td>
<td>{{survey_name}}</td>
<td>{{createdDateString}}</td>
<td>{{survey_description}}</td>