<td>
    <span id="edit-button" class="round {{badgeClass}} label">
        {{#if badgeClassBoolean}}
            <i class="fa fa-check fa-fw"></i> Manage
        {{else}}
            <i class="fa fa-times fa-fw"></i> Manage
        {{/if}}
    </span>
</td>
<td>{{survey_name}}</td>
<td class="hide-for-small-down">{{createdDateString}}</td>
<td class="hide-for-small-down">{{survey_description}}</td>