<div class="row">
    <div class="medium-12 columns">
        <h1>Account</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="medium-4 columns">
        <div>
            <ul class="side-nav">
                <li>Account Actions</li>
                <li><a id="deactivateButton">Deactivate account</a></li>
            </ul>
        </div>
    </div>
    <div class="medium-8 columns">
        <div class="panel">
            <h4>Update or modify your account</h4>
            <hr>
            <div class="row">
                <div class="small-12 columns">
                    <label>Username</label>
                    <input id="usernameField" type="text" placeholder="Enter username"
                           value="{{username}}" {{disabled}}>
                </div>
                <div class="small-12 columns">
                    <label>Email</label>
                    <input id="emailField" type="text" placeholder="Enter email" value="{{email}}">
                </div>
                <div class="small-12 columns">
                    <label>First Name</label>
                    <input id="firstNameField" type="text" placeholder="Enter first name"
                           value="{{first_name}}">
                </div>
                <div class="small-12 columns">
                    <label>Last Name</label>
                    <input id="lastNameField" type="text" placeholder="Enter last name" value="{{last_name}}">
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <a id="updateButton" class="button small">Update account</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="medium-4 columns"></div>
    <div class="medium-8 columns">
        <div class="panel">
            <h4>Change your password</h4>
            <hr>
            <div class="row">
                <div class="small-12 columns">
                    <label>Old Password</label>
                    <input id="oldPasswordField" type="password" placeholder="Enter old password">
                </div>
                <div class="small-12 columns">
                    <label>New password</label>
                    <input id="newPasswordField" type="password" placeholder="Enter new password">
                </div>
                <div class="small-12 columns">
                    <label>Confirm new password</label>
                    <input id="confirmPasswordField" type="password" placeholder="Confirm new password">
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <a id="updatePasswordButton" class="button small">Update password</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="medium-4 columns"></div>
    <div class="medium-8 columns">
        <div class="panel">
            <h4>Accounts requesting activation</h4>
            <hr>
            <div>
                <table class="medium-12 columns" style="float: none;">
                    <thead>
                    <tr>
                        <td width="25"></td>
                        <td>Username</td>
                        <td>Email</td>
                        <td class="hide-for-small-down">First name</td>
                        <td class="hide-for-small-down">Last name</td>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>