<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Manage</h1>
            <p class="text-center">Manage the survey here.</p>
            <p>id: {{id}}</p>
            <p>survey_description: {{survey_description}}</p>
            <p>survey_name: {{survey_name}}</p>
            <p>survey_notes: {{survey_notes}}</p>
            <p>survey_permalink: {{survey_permalink}}</p>
        </div>
    </div>
</div>