<div class="row">
    <div class="medium-12 columns">
        <h1>Manage</h1>
        <h4>{{survey_name}}</h4>
        <hr>
    </div>
</div>

<div class="row" data-equalizer>
    <div class="medium-4 columns">
        <div>
            <ul class="side-nav">
                <li>Survey Actions</li>
                <li><a href="/survey/{{survey_permalink}}">View survey</a></li>
                <li><a href="/survey/responses/{{id}}">View all responses</a></li>
                <li><a href="/survey/export/{{id}}">Export responses</a></li>
                <li><a onclick="confirm('Are you sure you want to delete this survey?\n\nDeleting the survey will cause all survey responses to be deleted.')">Delete survey</a></li>
            </ul>
        </div>
    </div>
    <div class="medium-8 columns">
        <div class="panel">
            <div class="panel-heading"><h4>Survey Information</h4></div>
            <hr>
            <div class="panel-body">
                <div class="row">
                    <div class="small-12 columns">
                        <label>
                            Survey Name
                            <input type="text" id="survey_name" value="{{survey_name}}">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label>
                            Survey Permalink
                            <input type="text" id="survey_permalink" value="{{survey_permalink}}" disabled>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label>
                            Survey Description
                            <input type="text" id="survey_description" value="{{survey_description}}">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label>
                            Survey Status
                            <select id="survey_status">
                                <option value="open" {{#if surveyIsOpen}}selected{{/if}}>Open</option>
                                <option value="closed" {{#unless surveyIsOpen}}selected{{/unless}}>Closed</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <a id="saveInfoButton" class="button small">Update information</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="medium-4 columns"></div>
    <div class="medium-8 columns">
        <div class="panel">
            <div class="panel-heading"><h4>Survey Notes</h4></div>
            <hr>
            <textarea id="survey_notes" class="form-control" rows="10">{{survey_notes}}</textarea>

            <div class="row">
                <div class="medium-12 columns">
                    <a id="saveNotesButton" class="button small">Update notes</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="medium-4 columns"></div>
    <div class="medium-8 columns">
        <div class="panel">
            <h4>Manage Access</h4>
            <hr>
            <p>These users have access to modify this survey.</p>
            <table class="medium-12 columns">
                <thead>
                <tr>
                    <td width="25"></td>
                    <td>Username</td>
                    <td>Email</td>
                    <td class="hide-for-small-down">First name</td>
                    <td class="hide-for-small-down">Last name</td>
                </tr>
                </thead>
                <tbody>
                {{! body goes here }}
                </tbody>
            </table>
            <h5>Give users access</h5>

            <div class="row collapse">
                <label>Search for user by username or email.</label>

                <div class="small-8 medium-9 columns">
                    <input id="giveAccessField" type="text" placeholder="Enter username or email">
                </div>
                <div class="small-4 medium-3 columns">
                    <a id="giveAccessButton" class="button postfix">Give Access</a>
                </div>
            </div>
        </div>
    </div>
</div>